.customer-photo {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: 32px 35px;
  background-position: center center;
  vertical-align: middle;
  line-height: 32px;
  box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}

.customer-name {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  padding-left: 10px;
}

.red {
  color: #d9534f;
}

.text-bold {
  font-weight: 600;
} 
 /* .btn-all{
background-color:  #7ec241;
}  */
.text-all{
  color:  #7ec241;
   font-weight: 600;
  font-size: 20px;
  margin-left: 13px;
}

.large-dropdown{
  width: 200px;
}
.large{
  width: 100px;
  background-color: #7ec241;
}

  .btn-grid{
  background-color:  #76b82a;
}  
.toggle-wrapper {
  background-color: #002366; /* Dark blue */
  border-radius: 50px;
}

.toggle-btn {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.toggle-btn.active-btn {
  background-color:  #76b82a; /* Green */
  color: #002366; /* Dark blue text on active */
}

::ng-deep .k-grid-header th.k-header {
  background-color: #002366 !important;
  color: white !important;
  font-weight: bold;
}

.green-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 6px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #76b82a; /* green */
}

.btn.btn-success{
  background-color: #76b82a !important;
  color: #fff !important;
  border: none;
}
.lead{
  font-size: 1rem;
  font-weight: 600;
  color:#76b82a ;
}
.text-secondary{
  color: #76b82a;
}

