.customer-photo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 5px;
  }

  .customer-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 10px;
  }

  .red {
    color: #d9534f;
  }

  .text-bold {
    font-weight: 600;
  } 
   /* .btn-all{
  background-color:  #7ec241;
  }  */
  .text-all{
    color:  #7ec241;
  }

  .large-dropdown{
    width: 200px;
  }
  .large{
    width: 100px;
    background-color: #7ec241;
  }

    .btn-grid{
    background-color: #7ec241;
  }  
  .toggle-wrapper {
    background-color: #002366; /* Dark blue */
    border-radius: 50px;
  }
  
  .toggle-btn {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    border-radius: 50px;
    transition: background-color 0.3s;
  }
  
  .toggle-btn.active-btn {
    background-color: #8bc34a; /* Green */
    color: #002366; /* Dark blue text on active */
  }

  /* ::ng-deep .k-grid-header .td.k-header {
    background-color: #002366;
    color: white;
    font-weight: bold;
  } */
  ::ng-deep .k-grid-header th.k-header {
    background-color: #002366 !important;
    color: white !important;
    font-weight: bold;
  }
  