<kendo-grid #myGrid [kendoGridBinding]="gridData" kendoGridSelectBy="id" [(selectedKeys)]="mySelection"
  [selectable]="{ mode: 'multiple', drag: true }" [pageSize]="20" [pageable]="true" [sortable]="true"
  [groupable]="false" [reorderable]="true" [resizable]="true" [height]="500" [columnMenu]="{ filter: true }"  (cellClick)="cellClickHandler($event)"
  (add)="addHandler()">

  <ng-template kendoGridToolbarTemplate>
    @if (!formGroup) {
    <button kendoGridAddCommand>Add new</button>
    } @if (formGroup) {
    <div>
      <button kendoButton [disabled]="!formGroup.valid" (click)="saveRow()">
        Save
      </button>
    </ng-template>
    
</kendo-grid>